.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center User
      %hr
      = form_for(order, url: admin_order_path(order)) do |f|
        .form-group
          = f.label :total_amount
          = f.text_field :total_amount, autofocus: true, autocomplete: 'name', class: 'form-control'
        .actions
          = f.submit 'Submit', class: 'btn btn-primary btn-block'
      .py-2
