= link_to admin_orders_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center Edit Order
%br/
%br/
= render 'form', order: @order
= link_to 'Show', admin_order_path(@order)
= link_to 'Back', admin_orders_path
