= link_to admin_settings_payment_methods_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center New Payment Method
%br/
%br/
= render 'form', payment_method: @payment_method
