= link_to admin_featured_products_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center New Featured Product
%br/
%br/
= render 'form', featured_product: @featured_product
