/*
*= require bootstrap-datepicker
*= require_self
*/

@import 'bootstrap/scss/bootstrap';

main {
  min-height: 100vh;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-dark .navbar-nav .nav-link {
  margin-left: 15px;
  color: rgba(255,255,255,1);
}

.nav-text{
  color: rgba(255,255,255,1);
}

/*********************************************************************
 * Sidebar
 **/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color: #333;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-navbar > .nav > .nav-item > a.nav-link {
  color: #333;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #AAA;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-heading.text-muted span {
  color: #AAA;
}

.sidebar-section {
  padding: 5px 0;
}

.bg-danger .sidebar-heading.text-muted span {
  color: #ECECEC;
}

/*********************************************************************
 * Content
 */

[role="main"] {
  padding-top: 20px; /* Space for fixed navbar */
}

@media (max-width: '768px') {
  [role="main"] {
    padding-top: 55px; /* Space for fixed navbar */
  }
}

.page-top-pitch{
  padding-top: 30px;
}

/*********************************************************************
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;

  :hover {
    background-color: inherit;
  }
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-inline .form-control {
  font-size: .875rem;
}

.bg-theme {
  background-color: #21125E;
}

/*********************************************************************
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

body{
  margin-top: 3.5em;
}

body.app{
  margin-top: 5em;
}

.pitchbg{
  background-color: #e1e6e9;
}

.box{
  background-color: #fefefe;
}

footer a, footer a:hover{
  color: white;
  border-bottom: 1px solid #EEE;
  text-decoration: none
}

.action-bar {
  padding: 1em;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #EEE;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
