= link_to admin_banner_items_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center New Banner item
%br/
%br/
= render 'form', banner_item: @banner_item
