= link_to admin_settings_shipping_methods_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center New Shipping Method
%br/
%br/
= render 'form', shipping_method: @shipping_method
