<div class="content">
  <div class="container">
    <div class="thickline"></div>
  </div>
  <nav class="breadcrumb container">
    <a class="breadcrumb-item" href="#">Home</a>
    <span class="breadcrumb-item active">Search</span>
  </nav>
  <div class="container">
    <div class="row">
      <aside class="col-md-3 col-sm-5 col-12 mb-4">
<div class="card">
  <article class="card-group-item">
    <header class="card-header"><h6 class="title mb-0">Sub Categories </h6></header>
    <div class="filter-content">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item">Daily use laptops  <span class="float-right badge badge-light round">4</span> </a>
        <a href="#" class="list-group-item">Work laptops  <span class="float-right badge badge-light round">3</span>  </a>
        <a href="#" class="list-group-item">Gaming laptops <span class="float-right badge badge-light round">6</span>  </a>
        <a href="#" class="list-group-item">Chromebooks <span class="float-right badge badge-light round">5</span>  </a>
      </div>  <!-- list-group .// -->
    </div>
  </article> <!-- card-group-item.// -->
  <article class="card-group-item">
    <header class="card-header border-top">
      <h6 class="title mb-0">Price Range </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
      <div class="form-row">
      <div class="form-group col-md-6">
        <label>Min</label>
        <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
      </div>
      <div class="form-group col-md-6 text-right">
        <label>Max</label>
        <input type="number" class="form-control" placeholder="$1,0000">
      </div>
      </div>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
  <article class="card-group-item">
    <header class="card-header border-top">
      <h6 class="title mb-0">Brands </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <span class="float-right badge badge-light round">52</span>
            <input type="checkbox" class="custom-control-input" id="Check1">
            <label class="custom-control-label" for="Check1">Apple</label>
        </div> <!-- form-check.// -->

        <div class="custom-control custom-checkbox">
          <span class="float-right badge badge-light round">132</span>
            <input type="checkbox" class="custom-control-input" id="Check2">
          <label class="custom-control-label" for="Check2">Dell</label>
        </div> <!-- form-check.// -->

        <div class="custom-control custom-checkbox">
          <span class="float-right badge badge-light round">17</span>
            <input type="checkbox" class="custom-control-input" id="Check3">
            <label class="custom-control-label" for="Check3">Lenovo</label>
        </div> <!-- form-check.// -->
        <div class="custom-control custom-checkbox">
          <span class="float-right badge badge-light round">7</span>
            <input type="checkbox" class="custom-control-input" id="Check4">
            <label class="custom-control-label" for="Check4">HP</label>
        </div> <!-- form-check.// -->
        <div class="custom-control custom-checkbox">
          <span class="float-right badge badge-light round">7</span>
            <input type="checkbox" class="custom-control-input" id="Check4">
            <label class="custom-control-label" for="Check4">Other Brand</label>
        </div> <!-- form-check.// -->
      </div> <!-- card-body.// -->
    </div>
  </article>
</div>

      </aside>
      <section class="col-md-9 col-sm-7 col-12 products" data-products="limit:4 page:0 id:1679,807,786,1597">
        <h3>Search results for 'work laptops'</h3>
        <p class='text-muted mb-2'>24 results found.</p>

<%- 6.times do %>
        <div class="row">
          <div class="col-md-3 col-6 mt-2" data-product>

<div class="product card">
  <a href='#'><img class="card-img-top p-2" src="/storefront/img/products/1.jpg" alt="Apple Macbook Pro" style="width: 100%; display: block; max-height: 200px;" ></a>
  <div class="card-body p-2">
    <h3 class='mb-1 h6'>
      <a href="product.html" data-product-url data-name data-url>Apple Macbook Pro i5/8GB RAM/256G SSD</a>
    </h3>
    <span class="description text-muted" data-product-description>
    Best Price Now
    </span>
    <div class="price-group py-2">
      <div class="price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>315</span>
      </div>
      <div class="old-price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>385</span>
      </div>

    </div>
    <div class="btngroup">
      <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart" href="" data-product-cart-url data-vvveb-action="addCart" data-product_id=40>
      <i class="la la-shopping-cart"></i> Add to cart
      </a>
      <button type="button" class="btn btn-sm" title="Add to favorites" data-product-fav-url>
      <i class="la la-heart"></i>
      </button>

    </div>
  </div>
</div>
            <!-- product -->
          </div>
          <!-- col-md -->
          <div class="col-md-3 col-6 mt-2" data-product>
<div class="product card">
  <a href='#'><img class="card-img-top p-2" src="/storefront/img/products/5.jpg" alt="Apple Macbook Pro" style="width: 100%; display: block; max-height: 200px;" ></a>
  <div class="card-body p-2">
    <h3 class='mb-1 h6'>
      <a href="product.html" data-product-url data-name data-url>Apple Macbook Pro i5/8GB RAM/256G SSD</a>
    </h3>
    <span class="description text-muted" data-product-description>
    Best Price Now
    </span>
    <div class="price-group py-2">
      <div class="price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>315</span>
      </div>
      <div class="old-price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>385</span>
      </div>

    </div>
    <div class="btngroup">
      <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart" href="" data-product-cart-url data-vvveb-action="addCart" data-product_id=40>
      <i class="la la-shopping-cart"></i> Add to cart
      </a>
      <button type="button" class="btn btn-sm" title="Add to favorites" data-product-fav-url>
      <i class="la la-heart"></i>
      </button>

    </div>
  </div>
</div>
            <!-- product -->
          </div>
          <!-- col-md -->
          <div class="col-md-3 col-6 mt-2" data-product>
<div class="product card">
  <a href='#'><img class="card-img-top p-2" src="/storefront/img/products/2.jpg" alt="Apple Macbook Pro" style="width: 100%; display: block; max-height: 200px;" ></a>
  <div class="card-body p-2">
    <h3 class='mb-1 h6'>
      <a href="product.html" data-product-url data-name data-url>Apple Macbook Pro i5/8GB RAM/256G SSD</a>
    </h3>
    <span class="description text-muted" data-product-description>
    Best Price Now
    </span>
    <div class="price-group py-2">
      <div class="price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>315</span>
      </div>
      <div class="old-price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>385</span>
      </div>

    </div>
    <div class="btngroup">
      <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart" href="" data-product-cart-url data-vvveb-action="addCart" data-product_id=40>
      <i class="la la-shopping-cart"></i> Add to cart
      </a>
      <button type="button" class="btn btn-sm" title="Add to favorites" data-product-fav-url>
      <i class="la la-heart"></i>
      </button>

    </div>
  </div>
</div>
            <!-- product -->
          </div>
          <!-- col-md -->
          <div class="col-md-3 col-6 mt-2" data-product>
<div class="product card">
  <a href='#'><img class="card-img-top p-2" src="/storefront/img/products/4.jpg" alt="Apple Macbook Pro" style="width: 100%; display: block; max-height: 200px;" ></a>
  <div class="card-body p-2">
    <h3 class='mb-1 h6'>
      <a href="product.html" data-product-url data-name data-url>Apple Macbook Pro i5/8GB RAM/256G SSD</a>
    </h3>
    <span class="description text-muted" data-product-description>
    Best Price Now
    </span>
    <div class="price-group py-2">
      <div class="price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>315</span>
      </div>
      <div class="old-price d-inline-block">
        <span class="currency" data-product-currency>$</span> <span data-product-price>385</span>
      </div>

    </div>
    <div class="btngroup">
      <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart" href="" data-product-cart-url data-vvveb-action="addCart" data-product_id=40>
      <i class="la la-shopping-cart"></i> Add to cart
      </a>
      <button type="button" class="btn btn-sm" title="Add to favorites" data-product-fav-url>
      <i class="la la-heart"></i>
      </button>

    </div>
  </div>
</div>
            <!-- product -->
          </div>
          <!-- col-md -->
</div>
<%- end %>
        <!-- row -->
        <div class='d-flex justify-content-center mt-5'>
        <ul class="pagination">
          <li class="prev">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="la la-arrow-left"></span>
            <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="next">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true" class="la la-arrow-right"></span>
            <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </section>
      <!-- products -->
    </div>
  </div>
</div>
